body{
  /* background-image:linear-gradient(90deg, rgba(228,31,91,1) 7%, rgba(245,25,151,1) 28%, rgba(238,174,204,1) 51%, rgba(92,61,171,1) 76%, rgba(6,66,138,1) 100%); */
  min-height:100vh ;
  background-image: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);;
  /* background-color: purple; */
  /* max-width: 100vh; */
}
.feedback-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  font-size: 7vh;
 color: black;
 font-family:  'Times New Roman';
 text-decoration: underline;
}
.name{
  font-size: 6vh;
  color: black;
  
}
.name1{
  width: 400px;
  height: 60px;
  border-radius: 50px;
  background-color: whitesmoke;
  border-color: #6E54EC;
  font-size: 3vh;
}
.button{
  height: 80px;
  width: 300px;
  border-radius: 50px;
  font-size: 5vh;
  margin-top: 30px;
  background-image: linear-gradient(135deg, orange 60%, cyan);
}
.button:hover{
  background:linear-gradient(to right,cyan, orange 60%);
}

.name2{
  font-size: 4vh;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
}
h5{
  font-size: 4vh;
  font-family: Arial, Helvetica, sans-serif;
}
/* .lastBox{
  display: flex;
  justify-content: space-around;
  border: 3px solid black;
  background-color: greenyellow;
  min-height: 500px;
  width: 500px;
} */

.lastBox{
  padding: 5px;
  position: absolute;
  left: 115px;
  top: 700px;
  height: auto;
  width: 1400px;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  /* background-color: coral; */
  background-image:  linear-gradient(#e66465, #9198e5);

}
h5{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  border: 2px solid black;
  border-radius: 50px ;
  padding: 3px;
  /* width: 300px; */
  height: 100px;
  flex-basis: calc(50% - 10px);
  margin: 5px0;
  /* background-image:  linear-gradient(#e66465, #9198e5); */
  background-color: coral;

  /* font-size: medium; */
} 